#zina{
font-size:1.7em;
}

#textzina{
font-size:1.2em;
}

#sarri{
font-size:1.7em;
}

#photosarri{
width:67%;
border:2px solid black;
}


#textsarri{
font-size:1.2em;
}

#photozina{
width:67%;
border:2px solid black;
}

#kono{
font-size:1.7em;
}

#photokono{
width:67%;
border:2px solid black;
}

#textkono{
font-size:1.2em;
}

#messi{
font-size:1.7em;
}

#photomessi{
width:67%;
border:2px solid black;
}

#textmessi{
font-size:1.2em;
}


